.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
  
table {
  border: 2px solid forestgreen;
  width:100%;
  height:auto;
}
  
th {
  border: 1px solid black;
}

input[type="text"],
input[type="number"] {
  margin-left: 20px;
  margin-bottom: 15px;
}
label{
  width: auto;
  display: inline;
  margin-left: 15%;
  font-size: large;
}

button{
  font-size: large;
   margin-left:20%;
   margin-top: 5%;
   border-radius: 12px;
   width: 250px;
   height:60px;
   color: firebrick;
}
  
td {
  text-align: center;
}

.login{
   margin-top: 5%;
}

h3{
  margin-left: 80px;
}